@model IEnumerable<JewelryStore.Web.Models.ProductViewModel>

@{
    ViewData["Title"] = "Products";
}

<div class="container">
    <h2>Our Products</h2>

    <div class="row">
        @foreach (var item in Model)
        {
            @await Component.InvokeAsync("GalleryProduct", new { productId = item.Id })
        }
    </div>
</div>